##########################
# Auth Service
##########################

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=fishlikescat@gmail.com
SENDER_PASSWORD=YOUR_GMAIL_APP_PASSWORD
AUTH_DEMO_MODE=false

##########################
# JWT configuration shared by services
##########################

JWT_SECRET=YOUR_JWT_SECRET
JWT_ALGORITHM=HS256
JWT_EXPIRY_HOURS=24

##########################
# Service URLs on DigitalOcean
##########################

GRADER_SERVICE_URL=https://catch-a8gtz.ondigitalocean.app/jonaschenjusfox-catch-grader-ser
GAME_SERVICE_URL=https://catch-a8gtz.ondigitalocean.app/jonaschenjusfox-catch-game-servi
TEACHER_SERVICE_URL=https://catch-a8gtz.ondigitalocean.app/jonaschenjusfox-catch-teacher-se
AUTH_SERVICE_URL=https://catch-a8gtz.ondigitalocean.app/jonaschenjusfox-catch-auth-servi
FRONTEND_URL=https://catch-a8gtz.ondigitalocean.app

##########################
# Game Service
##########################

GAME_SERVICE_PORT=8000
DB_BACKEND=mongo

MONGO_URL=mongodb+srv://username:YOUR_MONGO_PASSWORD@cluster0.p4np4q5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB=fish_likes_cat
MONGO_INITDB_ROOT_PASSWORD=password

ALLOWED_ORIGINS=https://catch-a8gtz.ondigitalocean.app,https://catch-a8gtz.ondigitalocean.app/jonaschenjusfox-catch-frontend

PROBLEM_DATASET_PATH=

LOG_LEVEL=INFO

##########################
# Grader Service
##########################

GRADER_TIMEOUT_SECONDS=10

##########################
# Web App
##########################

WEB_APP_PORT=3000