# Mongo DB with Docker
MONGO_INITDB_ROOT_USERNAME=dummy
MONGO_INITDB_ROOT_PASSWORD=data
MONGO_DBNAME=mydb
# Use container name "mongo" when running inside Docker
MONGO_URI=mongodb://dummy:data@mongo:27017
GOOGLE_API_KEY=your-key-here
