PYTHON_IMAGE_TAG=3.14
MONGO_IMAGE_TAG=8.2.7

MONGO_CONTAINER_NAME=final-project-mongodb
API_CONTAINER_NAME=final-project-apis
FRONTEND_CONTAINER_NAME=final-project-frontend

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_me_before_running
MONGO_DB_NAME=final_project
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_INTERNAL_PORT=27017
MONGO_AUTH_SOURCE=admin

API_PORT=8000
API_INTERNAL_PORT=8000

FRONTEND_PORT=3000
FRONTEND_INTERNAL_PORT=3000
