[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pymongo = "*"
python-dotenv = "*"
pydantic = "*"
ffmpeg-python = "*"
faster-whisper = "*"
anthropic = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
httpx = "*"

[requires]
python_version = "3.11"
