<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <section class="header">
        <span class="logo"><img src="{{ url_for('static', filename='icons/fm copy.svg') }}" alt="fm"></span>
        <h1>FlakeMate</h1>
    </section>
    <section class="nav-up-upcoming">
        <a href="{{ url_for('home_past') }}" class="nav-button-past">past</a>
        <a href="{{ url_for('home_upcoming') }}" class="nav-button-upcoming">upcoming</a>
    </section>
    <section class="content">
        <div class="content-header">
            <h2>upcoming events</h2>
            <button class="filter"><img src="{{ url_for('static', filename='icons/arrow.up.arrow.down.circle.purple.svg') }}" alt="filter"></button>
        </div>
        <ul class="upcoming-events">
            {% for event in upcoming_events %}
            <li class="upcoming-event">
                <h3>{{ event.name }}</h3>
                <p>{{ event.location }} @ {{ event.date|format_time }}</p>
                <p>{{ event.details }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="nav-bottom">
        <a href="{{ url_for('home_upcoming') }}"><img src="{{ url_for('static', filename='icons/calendar.fill.svg') }}" alt="calendar"></a>
        <a href="{{ url_for('invites') }}"><img src="{{ url_for('static', filename='icons/tray.svg') }}" alt="inbox" /></a>
        <a href="{{ url_for('host_events') }}"><img src="{{ url_for('static', filename='icons/plus.app.svg') }}" alt="create" /></a>
        <a href="/user"><img src="{{ url_for('static', filename='icons/person.svg') }}" alt="user" /></a>
    </section>
</body>

</html>