<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Host View</title>
</head>

<body>
    <section class="header">
        <span class="logo"><img src="{{ url_for('static', filename='icons/fm copy.svg') }}" alt="fm"></span>
        <h1>FlakeMate</h1>
    </section>
    <section class="content">
        <div class="content-header">
            <h2>hosting</h2>
            <button class="filter"><img src="{{ url_for('static', filename='icons/arrow.up.arrow.down.circle.purple.svg') }}" alt="filter"></button>
        </div>
        <ul class="hosting-events">
            {% for event in hosting_events %}
            <li class="hosting-event">
                <div class="content">
                    <h3>{{ event.name }}</h3>
                    <p>{{ event.location }} @ {{ event.date }}</p>
                    <p>{{ event.details }}</p>
                    <p>
                        <strong>Invitees:</strong>
                    </p>
                    <ul class="invitees">
                        {% for invitee in event.invitees_list %}
                        <li> 
                            <p>{{ invitee.name }} @ {{ invitee.time }}</p>
                        </li>

                        {% endfor %}
                    </ul>
                </div>
                <div class="actions">
                    <button class="edit-button">edit</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="nav-bottom">
        <a href="{{ url_for('home_upcoming') }}"><img src="{{ url_for('static', filename='icons/calendar (3) 1 copy.svg') }}" alt="calendar"></a>
        <a href="{{ url_for('invites') }}"><img src="{{ url_for('static', filename='icons/tray.svg') }}" alt="inbox" /></a>
        <a href="{{ url_for('host_events') }}"><img src="{{ url_for('static', filename='icons/plus.app.svg') }}" alt="create" /></a>
        <a href="/user"><img src="{{ url_for('static', filename='icons/person.svg') }}" alt="user" /></a>
    </section>
</body>

</html>