[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
flask = "*"
python-dotenv = "*"
pymongo = "*"
mongomock = "*"

[dev-packages]

[requires]
python_version = "3.11"
