<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Five</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-logo">Top Five</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/history">History</a>
        </div>
    </nav>

    <main class="input" id="drop-zone">
        <h2>Clip your Video</h2>
        <form id="upload-form" action="/upload-video" method="POST" enctype="multipart/form-data">            <input type="file" id="file-input" name="video" accept="video/*" hidden>            
            <button type="button" id="upload" onclick="document.getElementById('file-input').click()">
                Choose Video
            </button>
            <p>or drag and drop a file here</p>
        </form>
    </main>

    <script>
        const dropZone = document.getElementById("drop-zone")
        const fileInput = document.getElementById("file-input")
        
        function isVideo(file) {
        return file && file.type.startsWith("video/")
        }

        dropZone.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZone.classList.add("dragover")
        })

        dropZone.addEventListener("dragleave", () => {
            dropZone.classList.remove("dragover")
        })

        dropZone.addEventListener("drop", (e) => {
            e.preventDefault()
            dropZone.classList.remove("dragover")

            const file = e.dataTransfer.files[0]

            if (!isVideo(file)) {
                alert("Please upload a video file.")
                return
            }

            fileInput.files = e.dataTransfer.files
            document.getElementById("upload-form").submit()
        })

        fileInput.addEventListener("change", () => {
            const file = fileInput.files[0]

            if (!isVideo(file)) {
                alert("Please upload a video file.")
                fileInput.value = ""
                return
            }

            document.getElementById("upload-form").submit()
        })
    </script>

</body>
</html>
