[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.104.1"
"uvicorn[standard]" = "==0.24.0"
pydantic = {version = "==2.5.0", extras = ["email"]}
pydantic-settings = "==2.1.0"
PyJWT = "==2.8.0"
python-dotenv = "==1.0.0"
pymongo = "==4.10.1"

[dev-packages]
pytest = "*"
httpx = "==0.25.2"
pytest-cov = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.12"
