<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Safe Place Finder</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <h1>NYC Safe Place Finder</h1>

        <p class="subtitle">
            Search for a type of study spot and a list of matching facilities in the area will be provided
        </p>

        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}

        <form action="/search" method="POST">
            <label for="query"> What are you looking for? </label>

            <input
                type="text"
                id="query"
                name="query"
                placeholder="Example: A quiet place to study where it's also safe"
                required
            >

            <button type="submit">Search</button>
        </form>

        <div class="examples">
            <strong>Example searches:</strong><br>
            A quiet place to study where it's also safe<br>
            A clean park where I can relax<br>
            A calm public facility near low-noise areas<br>
        </div>
    </div>
</body>
</html>