body{
    font-family: sans-serif;
}

.add-task{
    border-radius: 10px;
    border: 2px dotted black;
    padding: 10px;
    margin: 20px;
    display: flex;
    column-gap: 100px;
}

#popup-info{
    position: fixed;
    border: 3px solid black;
    width: fit-content;
    background: white;
    top: 25%;
    left: 25%;
    font-size: 150%;
    border-radius: 10px;
    padding: 20px;
}

#popup-info div{
    margin: 10px;
    margin-top: 20px;
}

.show-task{
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

.hidden{
    display: none;
}

.error{
    color: red;
}

.tasks{
    display: flex;
}

.task{
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    display:flex;
}

.task p{
    margin: 5px;
}

.task button{
    margin: 5px;
}