<!DOCTYPE html>
<html>
<head>
    <title>StudyCast Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>StudyCast Dashboard</h1>
    {% if session.user_name %}
        <p>Welcome, {{ session.user_name }}!</p>
        <p><a href="/logout">Log Out</a></p>
    {% endif %}
    <h2>Pages</h2>

    <ul>
        <li><a href="/todos">Tos Do List</a></li>
        <li><a href="#">Calendar Coming Soon</a></li>
        <li><a href="#">Exams Coming Soon</a></li>
        <li><a href="#">Weather Monitor Coming Soon</a></li>
    </ul>

</body>
</html>