[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.104.1"
"uvicorn[standard]" = "==0.24.0"
pydantic = "==2.5.0"

[dev-packages]
pytest = "*"
httpx = "==0.25.2"
pytest-cov = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.12"
